@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html {
    color: #111;
    font: 10px 'Lora', serif;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    text-decoration-skip: ink;
}

body {
    background: #fdfdfd;
    margin: 0 0 6rem 0;
    font-size: 1.8rem;
}

a {
    color: navy;
    -webkit-tap-highlight-color: rgba(255, 255, 0, 0.5);
}

a:hover {
    text-decoration: none;
}

a:active {
    background: yellow;
}

header {
    max-width: 84rem;
    margin: 0 auto;
    padding: 0 2rem;
}

header img {
    display: block;
    width: 40%;
    margin: 3rem auto 0 auto;
    border: 1rem solid white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

header h1 {
    display: inline-block;
    width: 50%;
    margin: 4rem 0 0 0;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1;
}

header h1 a {
    color: inherit;
    text-decoration: inherit;
}

header p {
    margin: 3rem 0;
}

section {
    max-width: 84rem;
    margin: 0 auto;
    padding: 0 2rem;
    clear: left;
}

section h2 {
    margin: 0 0 4.5rem 0;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.4;
}

section h3 {
    margin: 3rem 0 1rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

section h3 a {
    color: inherit;
    text-decoration: none;
}

section h5 {
    margin: 4.5rem 0 2rem 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: 0.4px;
}

section > p {
    margin: 2rem 0 2rem 2rem;
}

section > p:last-of-type {
    margin-bottom: 4rem;
}

section > a {
    display: block;
    margin: 1rem 0 0 2rem;
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
}

section > a::after {
    content: ' ↣';
}

section > a:active {
    padding-left: 1rem;
}

section > ol {
    margin: 0 0 0 2rem;
    padding: 0;
    list-style-type: none;
}

section > ol > li {
    margin-bottom: 3rem;
}

section > ol > li h4 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    line-height: 3.2rem;
}

section > ol > li time {
    float: right;
    clear: right;
    margin-left: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 3.2rem;
}

section > ol > li span {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    text-transform: uppercase;
}

section > ol > li span.state {
    background: #333;
    padding: 0 4px;
    border-radius: 2px;
    color: white;
}

section > ol > li span:nth-of-type(2)::before {
    content: ' — ';
    color: #bbb;
}

section > ol > li p {
    margin: 1rem 0;
}

section > ol > li ol {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 0 3rem 0;
    list-style-type: none;
}

section > ol > li ul {
    margin: 2rem 0;
    padding-left: 6rem;
    list-style-type: circle;
}

section#contact {
    display: block;
    margin: 0 auto;
    text-align: center;
}

section#contact ul {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    list-style-type: none;
}

section#blog > ol > li {
    margin-bottom: 1rem;
}

section.newsletter {
    max-width: 46rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 0 4rem 4rem 4rem;
}

section.newsletter h2 {
    margin: 3rem 0 0 0;
    font-size: 5rem;
    line-height: 1.2;
}

section.newsletter p {
    margin: 3rem 0;
}

section.newsletter p:first-of-type {
    margin: 2.5rem 0 3rem 0;
}

section.newsletter form {
    margin: 0 auto;
    text-align: center;
}

section.newsletter form input {
    width: 18rem;
    margin: 0.25rem;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 1.2rem 1.6rem;
    background: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
}

section.newsletter form input:focus {
    outline: none;
}

section.newsletter form button {
    margin: 0.25rem;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 1.2rem 1.6rem;
    background: #222;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

section.newsletter form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

section.newsletter form button:active:not(:disabled) {
    background: yellow;
    border-color: transparent;
    color: #222;
}

section.newsletter form span {
    display: block;
    margin-top: 2.5rem;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
}

article {
    max-width: 74rem;
    margin: 0 auto;
    padding: 0 2rem;
    clear: left;
}

article h2 {
    max-width: 90%;
    margin: 0;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.4;
}

article h3 {
    margin: 1.5rem 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}

article h3 a {
    color: #111;
    text-transform: uppercase;
}

article time {
    display: inline-block;
    margin: 0 0 2rem 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

article p,
article pre {
    margin: 3rem 0;
}

article pre code {
    display: block;
    padding: 16px;
    overflow: auto;
}

article code {
    background: #ededed;
    border-radius: 3px;
    padding: 0.25rem 0.6rem;
    font-size: 85%;
    line-height: 1.45;
}

article footer {
    margin: 6rem;
    font-size: 1.5rem;
    text-align: center;
}

article footer::before {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
}

body > a[href^='/'] {
    float: left;
    margin: 2rem 0 3rem 2rem;
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
}

body > a[href^='/']::before {
    content: '↵ ';
}

@media (max-width: 720px) {

    html {
        font-size: 9px;
    }

    section > ol > li {
        margin-top: 2rem;
    }

    section > ol > li:first-of-type {
        margin-top: 0;
    }

    section > ol > li time {
        float: none;
        display: block;
        margin: 0;
        line-height: 1.75;
    }

    section > ol > li ol {
        margin-top: 2rem;
    }

    section > ol > li ol time {
        line-height: 1;
    }

    section > ol > li ol li + li {
        margin-top: 1.5rem;
    }

    header img {
        width: 50%;
        min-width: 26rem;
    }

    header h1 {
        width: 100%;
    }

    section.newsletter {
        border: none;
        padding: 0 2rem;
    }

    section.newsletter h2 {
        padding-top: 1rem;
        font-size: 4.5rem;
    }

}
