@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);

body {
    max-width: 1000px;
    margin: 20px auto 60px auto;
    padding: 0 20px;
    color: #222;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 20px 0;
    font-size: 42px;
}

h3 {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #222;
    font-size: 20px;
    text-transform: uppercase;
}

h3 ~ p {
    margin: 0 0 0 30px;
}

h3 ~ h4 {
    margin: 25px 0 0 30px;
}

h4 {
    margin-top: 5px;
    font-size: 22px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 10px;
}

a:link,
a:visited {
    color: navy;
}

a:active {
    background: yellow;
}

ul {
    margin: 10px 0;
    padding-left: 30px;
}

img {
    width: 100%;
}

body > a[href='/'] {
    float: right;
}

body > a[href='/']::before {
    content: '← ';
}

article time {
    font-size: 14px;
    text-align: right;
}

article header {
    margin-bottom: 30px;
}

article header p {
    color: gray;
}

footer {
    float: right;
    margin-top: 20px;
}

@media (min-width: 800px) {

    aside {
        float: left;
        clear: left;
        width: 300px;
        padding-right: 20px;
    }

    section {
        margin-left: 320px;
    }

}
