@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700italic);

html {
    background-color: #f0f0f0;
}

body {
    max-width: 750px;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 10px;
    background: white;
    color: #222;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

p {
    margin: 25px;
}

a:link,
a:visited {
    color: navy;
}

a:active {
    background: #fabe0a;
}

article a:active,
body > p a:active {
    padding: 0 3px 5px 3px;
    margin: 0 -3px -5px -3px;
}

img {
    width: 100%;
}

body > a {
    float: left;
    padding: 0 10px;
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

body > a::before {
    content: 'â† ';
}

article time {
    display: block;
    padding: 0 10px;
    text-align: right;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

article header h1 {
    background: #222;
    margin: 0 0 25px 0;
    padding: 5px 25px 35px 25px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

article header p {
    color: #666;
    font-style: italic;
}

footer {
    text-align: right;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

footer > * {
    padding: 10px;
}
