---
layout: default
---
<body id="top">
<a href="/">Back to index</a>
<section>
<h2>Projects</h2>
{{ content }}
<h5>Tools</h5>
<ol>
{% assign tools = site.data.projects | where: 'type', 'tool' %}
{% for project in tools %}
<li>
<h4><a href="{{ project.link }}">{{ project.title | escape }}</a></h4>
<span>{{ project.state }}</span>
<div>{{ project.details | markdownify }}</div>
</li>
{% endfor %}
</ol>
<h5>Other projects</h5>
<ol>
{% assign other = site.data.projects | where: 'type', 'other' %}
{% for project in other %}
<li>
{% if project.link %}
<h4><a href="{{ project.link }}">{{ project.title | escape }}</a></h4>
{% else %}
<h4>{{ project.title | escape }}</h4>
{% endif %}
<div>{{ project.details | markdownify }}</div>
</li>
{% endfor %}
</ol>
</section>
</body>
