---
layout: default
---
<body id="top">
<a href="/">Back to index</a>
<section>
<h2>Projects</h2>
{{ content }}
<h5>Tools</h5>
<ol>
{% assign tools = site.data.projects | where: 'type', 'tool' %}
{% for tool in tools %}
<li>
<h4><a href="{{ tool.link }}">{{ tool.title | escape }}</a></h4>
<span>{{ tool.state }}</span>
<div>{{ tool.details | markdownify }}</div>
</li>
{% endfor %}
</ol>
<h5>Prototypes</h5>
<ol>
{% assign prototypes = site.data.projects | where: 'type', 'prototype' %}
{% for prototype in prototypes %}
<li>
{% if prototype.link %}
<h4><a href="{{ prototype.link }}">{{ prototype.title | escape }}</a></h4>
{% else %}
<h4>{{ prototype.title | escape }}</h4>
{% endif %}
<div>{{ prototype.details | markdownify }}</div>
</li>
{% endfor %}
</ol>
</section>
</body>
